<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.example.coindex">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".CoinDexApp"
        android:allowBackup="true"
        android:icon="@drawable/li